<div class="bg-dark-grey text-white px-10 py-10 h-[100vh]">
  <div class="flex flex-row justify-end mb-10">
    <button
      class="border-4 border-red-500 px-4 py-1 hover:bg-red-500 transition-colors duration-300"
      (click)="onLogOut()"
    >
      <p class="font-teko font-normal text-2xl">Log Out</p>
    </button>
  </div>
  <div class="flex flex-col items-center mb-10">
    <h1 class="text-5xl font-teko font-medium">Welcome Admin {{ name }}</h1>
  </div>
  <div class="flex flex-col items-center">
    <button
      class="border-4 border-sport-green w-64 h-16 my-4 hover:bg-sport-green hover:text-black transition-colors duration-300"
    >
      <p class="font-teko font-normal text-3xl">Add Class</p>
    </button>
    <button
      class="border-4 border-sport-green w-64 h-16 my-4 hover:bg-sport-green hover:text-black transition-colors duration-300"
      (click)="handleRegisterMember()"
    >
      <p class="font-teko font-normal text-3xl">Register a Member</p>
    </button>
    <button
      class="border-4 border-sport-green w-64 h-16 my-4 hover:bg-sport-green hover:text-black transition-colors duration-300"
      (click)="handleRegisterTrainer()"
    >
      <p class="font-teko font-normal text-3xl">Register a Trainer</p>
    </button>
    <button
      class="border-4 border-sport-green w-64 h-16 my-4 hover:bg-sport-green hover:text-black transition-colors duration-300"
    >
      <p class="font-teko font-normal text-3xl">See All User</p>
    </button>
    <button
      class="border-4 border-sport-green w-64 h-16 my-4 hover:bg-sport-green hover:text-black transition-colors duration-300"
    >
      <p class="font-teko font-normal text-3xl">See All Class</p>
    </button>
  </div>
</div>
