<div class="bg-zinc-900 text-white py-20 h-[500vh]">
  <div class="container mx-auto text-center">
    <h1 class="text-7xl font-teko font-medium">Welcome to Wake & Lift</h1>
    <p class="mt-4 font-mono">
      Join the best gym experience with professional trainers and exciting
      classes.
    </p>
    <button
      class="mt-6 bg-blue-600 px-4 py-2 rounded hover:bg-blue-500 font-mono mx-5"
    >
      Get Started
    </button>
    <button
      class="mt-6 bg-blue-600 px-4 py-2 rounded hover:bg-blue-500 font-mono mx-5"
      (click)="navigateToLogin()"
    >
      Login
    </button>
  </div>
</div>
